@import "tailwindcss";

@keyframes marqueeLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-left {
  display: flex;
  width: max-content;
  animation: marqueeLeft 30s linear infinite;
}

.animate-marquee-left:hover {
  animation-play-state: paused;
}
